

  .modal {
    position: absolute;
    inset: 80px;
    border: 15px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 10px;
    outline: none;
  }

  .overlay {
    inset: 0;
    position: fixed;
    background-color: rgba(213, 206, 206, 0.509);
  }
  
  .image {
    overflow: hidden;
    width: 100%;
    max-height: 600px;
  }